* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: content-box;
}


#loginBlock {
  width: 500px;
  margin: 150px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}

#loginBlock > h1 {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#authority {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

#authority > div{
  width: 100px;
  height: 30px;
}

#authenticate > div > label {
  margin-left: 7px;
  font-weight: 600;
}

#inputIdBlock > label {
  font-weight: 600;
}

#inputLoginId {
  width: 438px;
}

#inputPasswordBlock{
  width: 438px;
}

#inputPasswordBlock > label {
  font-weight: 600;
}


#loginAndJoinBtnBlock{
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;;
}

#loginAndJoinBtnBlock > button {
  width: 170px;
  font-weight: 800;
}





