* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: content-box;
}

#loginBlock {
  width: 500px;
  margin: 150px auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#loginBlock div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#inputLoginId {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  border-radius: 0;
  padding: 10px;
}

#inputLoginId::placeholder {
  color: #aaa;
}

#inputPasswordBlock {
  width: 438px;
}

#inputLoginPassword::placeholder {
  color: #aaa;
}

#inputLoginPassword {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  border-radius: 0;
  padding: 10px;
}

#loginAndJoinBtnBlock > div {
  width: 438px;
}

#loginBtnBlock > button {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #897a69;
  color: white;
  font-weight: 800;
  border-radius: 0;
  padding: 10px;
}

#joinBtnBlock > button {
  width: 400px;
  height: 50px;
  margin: 0px auto;
  background-color: #897a69;
  color: white;
  font-weight: 800;
  border-radius: 0;
  padding: 10px;
}
