* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: content-box;
}

#loginBlock {
  width: 500px;
  margin: 150px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}

#inputLoginId {
  width: 400px;
  height: 50px;
  margin: 0 auto;
}

#inputLoginId::placeholder {
  color: #aaa;
}

#inputPasswordBlock {
  width: 438px;
}

#inputLoginPassword::placeholder {
  color: #aaa;
}

#inputLoginPassword {
  width: 400px;
  height: 50px;
  margin: 0 auto;
}

#loginAndJoinBtnBlock > div {
  width: 438px;
}

#loginBtnBlock > button {
  width: 400px;
  height: 50px;
  margin: 5px auto;
  margin-left: 19px;
  background-color: #c2a191;
  color: white;
  font-weight: 800;
}

#joinBtnBlock > button {
  width: 400px;
  height: 50px;
  margin: 5px auto;
  margin-left: 19px;
  background-color: #c2a191;
  color: white;
  font-weight: 800;
}
