.sales_management_container {
  padding: 30px 10%;
}

.management_container {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}

.seller_info_card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.seller_detail_info p {
  font-size: 16px;
}

.seller_detail_info p span {
  font-size: 15px;
  margin-left: 10px;
}

.sell_total_income {
  font-weight: 700;
  display: flex;
  justify-content: end;
}
.sell_detail_info {
  display: flex;
}
.sell_wine_count {
  width: 25%;
  height: 150px;
  background-color: #fdefdb;
  margin-right: 20px;
  padding: 10px;
}
.sell_wine_count:nth-child(4) {
  margin-right: 0;
}

.sell_wine_count p {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.sell_wine_count p:nth-child(2) {
  font-size: 25px;
  font-weight: 700;
}

.money_unit {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 5px;
  margin-left: 10px;
}

.sell_withdraw_container {
  margin-top: 10px;
  display: flex;
}

.sell_withdraw_container div {
  margin-left: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.sell_withdraw_container span {
  margin-right: 10px;
}
.withdraw_btn {
  padding: 5px 10px;
  border: none;
  background-color: #897a69;
  color: white;
}

.wine_info_list_container {
  margin-bottom: 30px;
}
.wine_info_title_container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.wine_info_title {
  padding-left: 2rem !important;
  font-weight: 700;
}

.wine_info_title_container button {
  margin-left: 10px;
  font-size: 13px;
  padding: 5px 10px;
  border: none;
  margin-bottom: 1rem;
}

.wine_info_title_button {
  background-color: #897a69;
  color: white;
}
.sell_wine_list {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8888887c;
}

.sell_list_title {
  border-top: 2px solid #8888887c;
}

.sell_wine_list li:nth-child(1) {
  flex: 10%;
}

.sell_wine_list li:nth-child(2) {
  flex: 30%;
}

.sell_wine_list li:nth-child(3) {
  flex: 15%;
  display: flex;
  justify-content: center;
}

.sell_wine_list li:nth-child(4) {
  flex: 15%;
  display: flex;
  justify-content: center;
}

.sell_wine_list li:nth-child(5) {
  flex: 15%;
  display: flex;
  justify-content: center;
}

.sell_wine_list li:nth-child(6) {
  flex: 10%;
  display: flex;
  justify-content: center;
}

.sell_wine_list li:nth-child(7) {
  flex: 10%;
  display: flex;
  justify-content: center;
}

.management_page_controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

.management_page_controller button {
  padding: 0px 10px;
  border: none;
  background-color: transparent;
}
.management_page_controller input {
  width: 30px;
  padding: 5px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}
.management_page_controller span {
  width: 30px;
  padding: 7px 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ddd;
}

.sell_cancel {
  padding: 1px 10px;
  background-color: #ff8888;
  color: white;
  border: none;
}

.management_resale_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  display: flex;
}

.management_resale_input_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.management_resale_input_box p {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.management_resale_input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.management_resale_input input {
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

.management_resale_input button {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #333;
  background-color: #fff;
}

.management_resale_input button:hover {
  background-color: #333;
  color: #fff;
}
