.seller_container {
  padding: 30px 10%;
}

.seller_regist_container {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}

.seller_input {
  flex: 3;
  display: flex;
}
.input_box {
  width: 100%;
  border: 1px solid #666;
  padding: 10px;
  outline: none;
}

.input_box::placeholder {
  color: #999;
}
.input_read_only {
  background-color: #f2f2f2;
  color: #aaa;
}

.seller_regist_info {
  padding-left: 0;
}
.seller_regist_list {
  margin-top: 20px;
}
.seller_infos {
  display: flex;
}

.seller_info {
  margin-top: 10px;
  flex: 1;
}

.bank_select {
  margin-right: 15px;
}

.bank_auth_btn {
  margin-left: 15px;
  font-size: 15px;
  border: none;
  padding: 0px 10px;
  background-color: #897a69;
  color: white;
  white-space: nowrap;
}
.privacy_policy_container {
  width: 100%;
  background-color: #fff4db;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 10px;
}
.privacy_policy_container p {
  line-height: 1;
}

.policy_check {
  text-align: right;
}

.policy_check_btn {
  margin-left: 10px;
}

.seller_regist_btn_container {
  display: flex;
  justify-content: flex-end;
}

.seller_regist_btn_container button {
  margin-left: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #897a69;
  color: white;
}
