.seller_container {
  padding: 30px 10%;
}

.seller_wine_container {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}
.sell_infos_container {
  margin-bottom: 20px;
}
.sell_info_container {
  display: flex;
}

.sell_info {
  flex: 1;
  margin-top: 15px;
  font-size: 18px;
}

.sell_essential {
  margin-left: 5px;
  font-size: 13px;
  color: #999;
}

.sell_essential_star {
  color: #ff8080;
}
.sell_info_input {
  flex: 3;
}

.input_read_only {
  background-color: #f2f2f2;
  color: #aaa;
}

.sell_postcode {
  padding: 10px !important;
}
.sell_address {
  margin-top: 10px;
  width: 100% !important;
  padding: 10px !important;
}
.sell_detail_address {
  margin-top: 10px;
  padding: 10px !important;
}
.sell_info_input input {
  width: 100%;
  border: 1px solid #666;
  padding: 15px 10px;
  outline: none;
}

.sell_info_input input::placeholder {
  color: #999;
}

.sell_wine_info span {
  margin-right: 15px;
  font-size: 18px;
}

.sell_wine_infos {
  padding: 15px 0px;
  display: flex;
}
.sell_wine_info {
  flex: 25%;
}

.wine_info_select {
  width: 50px;
  padding: 5px;
  border: 1px solid #666;
  outline: none;
}

.wine_info_rule {
  display: flex;
}

.wine_info_rule p {
  flex: 25%;
  margin-top: -10px;
  font-size: 15px;
  color: #888;
}

.wine_sell_btn_container {
  display: flex;
  justify-content: flex-end;
}

.wine_sell_btn {
  padding: 10px 20px;
  border: none;
  background-color: #897a69;
  color: white;
}

.wine_sell_loading {
  background-color: #888;
}
