.diary_container {
    padding: 30px 10%;
}

.diary_component {
    display: flex;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    height: 600px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.diary_component2 {
    /* display: flex; */
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.calendar {
    display: flex;
    height: auto;
    width: 100%;
}

.fc-day-sun a {
    color: red;
}

.fc-day-sat a {
    color: blue;
}

.fc {
    width: 100%;
    height: 100%;
}

.progress {
    width: 100%;
    height: 40px;
    background-color: lightblue;
    margin-bottom: 10px;
}

.form-control {
    width: 95%;
}

.fc-daygrid-more-link.fc-more-link {
    color: #000;
}

.fc-daygrid-day-number {
    color: #000;
    font-size: 1em;
}
/*요일*/
.fc-col-header-cell-cushion {
    color: #000;
}
.fc-col-header-cell-cushion:hover {
    text-decoration: none;
    color: #000;
}
/*시간제목*/
.fc-daygrid-dot-event > .fc-event-title {
    color: #000 !important;
}

/*title 옆에 점*/
.fc-daygrid-event-dot {
    border: 3px solid #000 !important;
    border-radius: 50%;
}
.diary_btn {
    padding: 15px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 500;
    background: #fff;
    color: #000;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    display: flex;
    width: 100%;
}

.diary_btn:hover {
    background-color: #c5af96;
    color: white;
    border: none;
}

.diary_title {
    margin-bottom: 27px;
}

.diary_contentTitles {
    margin-top: 0.5%;
    flex: 70%;
    text-align: start;
}
.diary_contentTime {
    margin-top: 0.5%;
    margin-right: 5%;
    flex: 20%;
    text-align: start;
}

.diaryicon {
    flex: 8%;
}

/* #c5af96 */
.diary_btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #c5af96;
    --bs-btn-border-color: #c5af96;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #867665;
    --bs-btn-hover-border-color: #867665;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #867665;
    --bs-btn-active-border-color: #867665;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c5af96;
    --bs-btn-disabled-border-color: #c5af96;
}
#diaryAdd_btn {
    justify-content: center;
}
#diaryModal_btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #c5af96;
    --bs-btn-border-color: #c5af96;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #867665;
    --bs-btn-hover-border-color: #867665;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #867665;
    --bs-btn-active-border-color: #867665;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c5af96;
    --bs-btn-disabled-border-color: #c5af96;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.loading-spinner p {
    font-size: 16px;
    line-height: 50px;
    color: #333;
    margin: 0;
}

.progress {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.EmotionTitle {
    width: 100%;
    height: 70px;
}
.EmotionDescription {
    height: 100px;
}

.progress-bar {
    font-size: 16px;
}

/* .modal-footer {
    border-top: none !important;
} */

.diary-editor-title {
    width: 740px;
}

/* recommend_wine_css */

.recommend_wine_view {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.recommend_wine_view ul li {
    flex-basis: calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 20px;
    box-sizing: border-box;
    min-width: calc(25% - 10px);
    white-space: normal;
}

.recommend_wine_list {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 50px;
    /* transform: translateX(-100%); */
}

.recommend_wine_list_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* padding: 10px; */
    height: 100%;
    cursor: pointer;
}

.recommend_wine_list_card hr {
    width: 50%;
    border: none;
    border-top: 2px solid black;
    margin: 10px 0;
}

.recommend_wine_img {
    width: 50%;
    margin-top: 10px;
}
.recommend_wine_names {
    display: flex;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal !important;
    width: 80%;
    margin-top: 10px;
}

.recommend_wine_name {
    font-size: 16px;
}

.recommend_wine_name_en {
    font-size: 13px;
}

.recommend_wine_info {
    margin-top: 10px;
    font-size: 13px;
    white-space: normal !important;
}

.recommend_wine_info span b {
    background-color: #ead196;
    border-radius: 5px;
    padding: 5px;
}
