.cart_container {
  padding: 30px 10%;
}

.cart_component {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart_info_container {
  width: 100%;
}

.cart_info_container hr {
  width: 100%;
}

.delivery_change_address {
  margin-left: 20px;
  padding: 5px 10px;
  border: none;
  font-size: 13px;
  background-color: #897a69;
  color: white;
}

.cart_item_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_item div {
  display: flex;
}

.cart_item_list div {
  width: 600px;
}
.cart_item .cart_item_img {
  flex: 15%;
}

.cart_item img {
  width: 100px;
}
.cart_item_info {
  flex: 75%;
}

.cart_select_container {
  display: flex;
  margin-bottom: 10px;
}
.cart_select_container button {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.cart_check_box {
  width: 20px;
  height: 20px;
}

.cart_item_info li {
  margin-bottom: 10px;
}

.cart_item_info li:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}

.cart_item_info button {
  padding: 5px 10px;
  background-color: #897a69;
  color: white;
  border: none;
}

.cart_item_info span {
  padding: 20px;
}

.cart_total_container {
  display: flex;
}
.cart_total_container div {
  margin-left: auto;
}

.cart_total_container button {
  margin-left: 20px;
  padding: 5px 10px;
  border: none;
  background-color: #897a69;
  color: white;
}

.cart_change_address_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  z-index: 999;
}

.cart_change_address_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_change_address_box .sell_info_input {
  width: 80%;
}

.cart_address_change_btn {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 20px;
}

.cart_address_change_btn button {
  padding: 5px 15px;
  margin-left: 10px;
  background-color: #897a69;
  border: none;
  color: white;
}
