* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: content-box;
}

footer {
  display: flex;
  height: 400px;
  background-color: #897A69;
}

footer > div{
  width: 25%;
  text-align: center;
  padding: 20px;
  color: white;
}

