* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "SUITE-Regular";
}

header {
  height: 200px;
  padding: 0 20px;
}

#headerTop {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 100px;
  margin: 0 auto;
  margin-left: 47%;
}

#logo > a {
  width: 110px;
  height: 140px;
}
#logo > a > img {
  width: 110px;
  height: 140px;
}

#headerBtnBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}

#headerBtnBlock div {
  margin-right: 50px;
}

#headerBtnBlock > a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

#header_login_btn {
  white-space: nowrap;
}
#header_login_btn span:nth-child(1) {
  margin-right: 15px;
}
#headerNicknameBlock {
  margin-right: 20px !important;
  color: #666;
  font-size: 15px;
  font-weight: 500;
}

#headerBottom {
  height: 50px;
}

#headerMenu {
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerMenu > li {
  margin: 0 35px;
}

#headerMenu > li > a {
  width: 100px;
  height: 50px;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}

.header_selectMenu {
  background-color: #f3edea;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
}

.header_icon {
  color: #c8beae;
}
.header_font {
  font-size: 14px;
}
#logoutBtn {
  border: none;
  background-color: #fff;
}
