* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: content-box;
  }

  #userListBlock{
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
  }
  #searchUser{
    display: flex;
    height: 35px;   
  }




  #serchType{
    width: 15%;
    margin-right: 1%;
  }
  #serchWord{
    width: 50%;
    margin-right: 1%;
  }
  #serchGroup{
    width: 15%;
    margin-right: 1%;
  }
  #serchStartDate{
    width : 30%;
    margin-right: 0.5%;
  }
  #serchEndDate{
    width : 30%;
    margin-right: 5%;
    margin-left: 0.5%;
  }
  #searchUserButton{
    width : 13%;
    white-space: nowrap;
  }


  #countBlock{
    display: flex;
  }
  #delete{
    margin-right: auto;
  }
  #userList >span{
    margin-left: auto;
  }



  #userListHead{
    display: flex;
    align-items: center;
    background-color: #ebe6e6;
    height: 80px;
    margin-top: 15px;
    border-bottom: 2px solid #000;
    
  }
  #headGroup{
    margin-right: 15%;
  }
  #checkAll{
      margin-left: 2%;
      margin-right: 10%;
  }





  #idSortBlock{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 10%;
  }
  #idSort {
    width: 0;
    height: 0;
    border-top: #ebe6e6;
    border-left: 5px solid #ebe6e6;
    border-right: 5px solid #ebe6e6;
    border-bottom: 10px solid #999; /* 버튼의 배경색을 지정합니다. */
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  #idSort.active{
    border-bottom-color: black;
  }
  #idSortDESC {
    width: 0;
    height: 0;
    border-top: 10px solid #999;
    border-left: 5px solid #ebe6e6;
    border-right: 5px solid #ebe6e6;
    border-bottom: #ebe6e6; /* 버튼의 배경색을 지정합니다. */
    cursor: pointer;
  }
  #idSortDESC.active{
    border-top-color: black;
  }

  #nameSortBlock{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 15%;
    
  }
  #nameSort {
    width: 0;
    height: 0;
    border-top: #ebe6e6;
    border-left: 5px solid #ebe6e6;
    border-right: 5px solid #ebe6e6;
    border-bottom: 10px solid #999; /* 버튼의 배경색을 지정합니다. */
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  #nameSort.active{
    border-bottom-color: black;
  }
  #nameSortDESC {
    width: 0;
    height: 0;
    border-top: 10px solid #999;
    border-left: 5px solid #ebe6e6;
    border-right: 5px solid #ebe6e6;
    border-bottom: #ebe6e6; /* 버튼의 배경색을 지정합니다. */
    cursor: pointer;
  }
  #nameSortDESC.active{
    border-top-color: black;
  }
  
  #lastupdateSortBlock{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 8%;
    
  }
  #lastupdateSort {
    width: 0;
    height: 0;
    border-top: #ebe6e6;
    border-left: 5px solid #ebe6e6;
    border-right: 5px solid #ebe6e6;
    border-bottom: 10px solid #999; /* 버튼의 배경색을 지정합니다. */
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  #lastupdateSort.active{
    border-bottom-color: black;
  }
  #lastupdateSortDESC {
    width: 0;
    height: 0;
    border-top: 10px solid #999;
    border-left: 5px solid #ebe6e6;
    border-right: 5px solid #ebe6e6;
    border-bottom: #ebe6e6; /* 버튼의 배경색을 지정합니다. */
    cursor: pointer;
  }
  #lastupdateSortDESC.active{
    border-top-color: black;
  }
