.seller_info .info_title {
  flex: 2;
}

.seller_info .info_detail {
  flex: 3;
}

.wine_buy_btn {
  display: flex;
  margin-top: 10px;
}

.wine_buy_btn div {
  margin-left: auto;
}
.wine_buy_btn button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #897a69;
  color: white;
  font-size: 15px;
}

.wine_buy_btn button:hover {
  background-color: #888;
  color: white;
}

.wine_detail_info li:last-child {
  margin-left: auto;
  color: #f8e559;
}
