.wine_detail_container {
  padding: 30px 10%;
}

.wine_detail_component {
  display: flex;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}

.wine_detail_img {
  flex: 1;
  padding: 50px;
}

.wine_detail_img img {
  width: 100%;
}

/* Wine Details info CSS */
.wine_details_info {
  display: flex;
  flex: 2;
  padding: 50px;
  width: 100%;
  padding-bottom: 0px;
}

.wine_detail_info {
  white-space: nowrap;
  padding-left: 0;
}

.wine_detail_list {
  width: 100%;
}
.wine_detail_info li {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}

.wine_detail_info li:nth-child(1) {
  background-color: #ead196;
  padding: 5px 10px;
  border-radius: 5px;
}

.wine_detail_name {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
}

.wine_detail_name_en {
  font-size: 18px;
  color: #888888;
}

.wine_detail_note {
  margin-top: 5px;
  background-color: #fff4db;
  padding: 10px;
  border-radius: 10px;
}
/* 당도,산도,바디,타닌 CSS */
.wine_info_table {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-left: 5px;
}

.wine_info_list {
  flex-basis: calc(50% - 10px);
  margin-top: 10px;
  padding-left: 0;
  white-space: nowrap;
}
.wine_info_table li:nth-child(1) {
  font-size: 18px;
  margin-bottom: 10px;
}
.wine_detail_taste {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.taste_1 {
  border: none;
  background-color: #ffcdd2;
}

.taste_2 {
  border: none;
  background-color: #ef9a9a;
}

.taste_3 {
  border: none;
  background-color: #e57373;
}

.taste_4 {
  border: none;
  background-color: #ef5350;
}

.taste_5 {
  border: none;
  background-color: #f44336;
}

.wine_detail_aroma {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 5px;
}

.wine_aroma_list {
  padding-left: 5px;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap; /* 줄바꿈을 허용하지 않음 */
  overflow-x: auto; /* 가로 스크롤바 추가, 필요에 따라 변경 가능 */
}

.wine_aroma_list li {
  margin-right: 10px;
  font-size: 16px;
  white-space: nowrap; /* 줄바꿈을 허용하지 않음 */
}

.wine_detail_info_list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff4db;
}

.wine_detail_info_list li {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.info_title {
  flex: 1;
  font-weight: 700;
}

.info_detail {
  flex: 3;
  font-size: 15px;
  color: #777;
  margin-top: 2px;
}

.wine_detail_btns {
  display: flex;
}
.sell_btn {
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #897a69;
  color: white;
  margin-left: auto;
}
