.wine_sell_info {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 50px;
}

.wine_sell_info_container {
  display: flex;
}

.sell_region_map {
  flex: 2;
  padding: 30px;
}

.sell_region_info {
  flex: 3;
  padding: 30px;
}

.sell_store_list .store_region {
  padding: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.sell_store_list .store_region:hover {
  background-color: #dddddd;
}

.sell_store_list .store_region_click {
  background-color: #897a69;
  color: white;
}

.store_region_click .store_icon {
  color: white;
}

.store_region_click .store_icon_delivery {
  color: white;
}

.store_region_click .store_btn_container button {
  background-color: white;
  color: #333;
}

.store_address {
  margin-bottom: 10px;
}
.store_address span {
  margin-right: 10px;
  font-size: 15px;
}

.store_wine_info {
  display: flex;
  white-space: nowrap;
  padding: 0px;
}

.store_wine_info li {
  font-size: 15px;
  padding: 0px;
  margin-right: 10px;
}
.store_wine_info li:nth-child(1) {
  margin-right: 20px;
}

.store_icon {
  margin-right: 10px;
  margin-left: 10px;
  color: #897a69;
}

.store_icon_delivery {
  color: #ff5555;
}

.store_btn_container {
  display: flex;
}

.store_btn_container div {
  margin-left: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.store_btn_container button {
  margin-right: 10px;
  padding: 3px 8px;
  font-size: 13px;
  border: none;
  background-color: #897a69;
  color: white;
}
